<div class="uk-container-expand uk-height-viewport uk-flex-middle uk-flex uk-flex-center uk-background-muted">
  <div class="uk-width-1-3 uk-background-default uk-border-rounded uk-padding">
    <button routerLink="" class="uk-icon-button" uk-icon="arrow-left"></button>
    <h2 class="uk-heading-small uk-margin-remove-top">Login</h2>
    <div class="uk-form-stacked">
      <div class="uk-margin">
        <label>Nazwa</label>
        <input [(ngModel)]="credentials.username" class="uk-input uk-border-rounded" type="text">
        <span *ngIf="usernameSizeError" class="uk-text-small uk-text-danger">Nazwa użytkownika powinna mieć od 3 do 16 znaków</span>
      </div>
      <div class="uk-margin">
        <label>Hasło</label>
        <input [(ngModel)]="credentials.password" class="uk-input uk-border-rounded" type="password">
        <span *ngIf="passwordSizeError" class="uk-text-small uk-text-danger">Hasło powinno mieć od 8 do 30 znaków</span>
        <span *ngIf="wrongCredentials" class="uk-text-small uk-text-danger">Niepoprawna nazwa użytkownika lub hasło</span>
      </div>
      <div class="uk-margin">
        <button (click)="userLogin()" class="uk-button uk-button-primary uk-border-rounded uk-align-right uk-margin-remove-bottom">Zaloguj</button>
      </div>
    </div>
  </div>
</div>
