<div class="uk-container-expand uk-height-viewport uk-flex-middle uk-flex uk-flex-center uk-background-muted">
  <div class="uk-width-1-3 uk-background-default uk-border-rounded uk-padding">
    <button routerLink="" class="uk-icon-button" uk-icon="arrow-left"></button>
    <h2 class="uk-heading-small uk-margin-remove-top">Rejestracja</h2>
    <div class="uk-form-stacked">
      <div class="uk-margin">
        <label>Nazwa</label>
        <input class="uk-input uk-border-rounded" type="text">
      </div>
      <div class="uk-margin">
        <label>Hasło</label>
        <input class="uk-input uk-border-rounded" type="password">
      </div>
      <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-border-rounded uk-align-right uk-margin-remove-bottom">Zarejestruj</button>
      </div>
    </div>
  </div>
</div>
